body {
    font-family: Helvetica;
    text-align: center;
    background-color: black;
    color: white;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 24px;
}

#header {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
    border: 2px dashed blue;
}

#content {
    margin-left: 25%;
    margin-right: 25%;
    padding: 20px;
    border: 2px dashed blue;
}

.button {
    background-color: black;
    border: 2px solid blue;
    border-radius: 4px;
    color: white;
    font-size: 24px;
    padding-left: 4px;
    padding-right: 4px;
    width: 150px;
}

.button:hover {
    background-color: blue;
    border: 2px solid blue;
}

img {
    width: auto;
    height: auto;
    max-width: 300px;
    max-height: 300px;
    border-radius: 50%;
}