body {
    font-family: Helvetica;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10px;
    text-align: left;
    padding: 10px;
    border: 2px dashed blue;
}

h1 {
    font-size: 36px;
    padding-top: 4px;
    padding-bottom: 4px;
}

h2 {
    font-size: 24px;
    padding: 10px;
}